.best-sale__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.best-sale__title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 27px 0 0;
}
.best-sale__category {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: @bg-leftbtn;
  text-transform: uppercase;
  margin: 5px 0 23px;
}
.best-sale__table {
  margin: 17px 0 30px;
  border-collapse: collapse;

}
.best-sale__table td {
  border-bottom: 1px solid #e7e7e7;
  padding: 8px 0 7px 0px;
}
.best-sale__table .table__field {
  width: 97px;
}
.best-sale__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 102px;
  margin: 17px 0 0;

}
.best-sale__price {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .best-sale__title {
    font-size: 43px;
    line-height: 50px;
  }
  .best-sale__intro {
    width: 290px;
  }
  .best-sale__footer {
    width: 290px;
  }
  .best-sale__wrapper picture {
    align-self: flex-end;
    order: 1;
  }
  .best-sale__wrapper {
    height: 536px;
  }
}
@media (min-width: @desktop-width) {
  .best-sale__header {
    position: absolute;

  }
  .best-sale__title {
    font-size: 53px;
    line-height: 57px;
    z-index: 10px;
  }
  .best-sale__intro {
    margin-top: 150px;
  }
  .best-sale__wrapper {
    position: relative;
    margin-left: 175px;
    height: 636px;
    justify-content: space-between;
  }
}


