.page-title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  background-color: @bg-lg;
  padding: 70px 0 75px;
  margin: 0;
}
.page__title {
  text-align: center;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  padding: 80px 0;
  background-color: @bg-lg;
}
.page-main .page__title {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  padding: 70px 30px 122px;

}








