.page-header {
  position: relative;
  display: flex;
  padding: 0 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}
.page-header__logo {
  margin: 22px auto 15px;
}

